.header {
  color: #ff9514;
  background-color: #000000;
  font-style: italic;
  font-weight: normal;
}

a {
 color: #ff0000;
}

a:hover {
 color: #ffff00;
}

a:visited {
  color: #00ff00;
}

.courses{
  color: #0000ff;
  background-color: #b5432f;
}

#emphasis{
  color: #0000ff;
}

#span{
  color: #9500ff;
}

header {
  font-family: sans-serif;
}

main {
  font-family: sans-serif;
}

.centertext {
  text-align: center;
}

.justifytext {
  text-align: justify;
}

.img{
  border: 10px solid #000000;
  padding: 10px
}

body {
  background-image: url(background.jpeg);
}
