/*This is a new stylesheet*/
/*
p {
 color: #ff0000;
 background-color: #0000ff;
}
*/
h1{
  background-color: #3DB536;
}

.spanstyle{
  color: #00FF00;
}
#divexample{
  color: #0000FF;
  background-color: #FFFF00;
}
#specialid{
  color: #00ff00;
}

.specialp {
 color: #00ff00;
 background-color: #FFFFFF;
}

a {
 color: #ff0000;
 text-decoration: none;
}

a:hover {
 color: #0000ff;
 text-decoration: underline;
}

footer{
  color: #FFFFFF;
  background-color: #FF0000;
}
