body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}


.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

header {
  grid-column: span 12;
  background-color: #696969;
  color: white;
  font-size: 28px;
  padding-left: 24px;
  margin-bottom: 24px;
}

nav {
  grid-column: span 3;
}

nav li {
  margin-bottom: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  background-color: #0404C9;
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 24px;
}

#mainimg {
  grid-column: span 9;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}

section {
  grid-column: span 6;
}

section h2 {
  font-size: 36px;
  border-bottom: solid 3px;
  margin-bottom: 0;
}

#toptenlist {
  grid-column: span 4;
  border: solid 4px;
}

#remix {
  grid-column: span 4;
}

h2 {
  font-size: 36px;
  grid-column: span 4;

}

#pshop {
  grid-column: span 4;
}
